<div class="container">
      <% @all_news.each do |news| %>
        <div class="d-flex justify-content-center">
          <div class="col-8">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <div class="card">
                <div class="card-header">
                  <% if news.user %>
                    <p class="fst-italic text-muted"><%= link_to news.user.username, user_path(news.user) %></p>
                  <% end %>
                </div>
                <div class="card-body">
                  <h5 class="fs-2 text-success"><%= news.headline %></h5>
                  <p class="fs-4"><%= truncate(news.information, length:100) %></p>

                    <div class="btn-group gap-1" role="group" aria-label="Basic outlined example">
                      <%= button_to 'Show', dailynews_path(news), class: "btn btn-primary", method: :get, data: { confirm: 'Are you sure?' } %>
                      <%= button_to 'Edit', edit_dailynews_path(news), class: "btn btn-secondary", method: :get %>
                      <%= button_to 'Delete', dailynews_path(news), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"} %>
                    </div>

                </div>
                <div class="card-footer text-muted">
                    <small> 
                      Create at <%= time_ago_in_words(news.created_at) %> and Edit at
                      <%= time_ago_in_words(news.updated_at) %></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
        <div class="text-center">
          <%= link_to 'Create News For Us', new_dailynews_path(@all_news), class: "fs-3 mb-5 btn btn-primary" %>
        </div>
      </div>