<div class="body-wrap boxed-container">

  <h1 style="text-align:center" ><strong><%= @news.headline %> </strong> </h2>

  <h3 style="text-align:center"><strong><%= @news.information %></strong> </h3>


  
  <div class="hero-cta">
    <%= button_to 'Edit', edit_dailynews_path(@news), method: :get %>
    <%= button_to 'Delete', dailynews_path(@news), method: :delete %>
    <%= button_to 'Dashbord', dailynews_index_path(@news), method: :get %>  
  </div>


</div>

<%= render 'footer' %>