<h1>Showing article details </h1>

<p><strong>id:  <%= @news.id %> </strong> </p>

<p><strong>title:  <%= @news.headline %> </strong> </p>

<p><strong>Information:  <%= @news.information %></strong> </p>

 
<p>
  <%= button_to 'Edit', edit_dailynews_path(@news), method: :get %>
  <%= button_to 'Delete', dailynews_path(@news), method: :delete %>
  <%= button_to 'Dashbord', dailynews_index_path(@news), method: :get %>  
</p>
 

 
